@using CorridaDePesso.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row" id="home-steps">
    <div class="container">
        <div class="row" style="background-color: #e3e3e3; padding:15px">
            <div class="col-md-offset-2 col-md-2">
                <br>
                <img src="~/Img/default-user.png" class="img-responsive img-circle img-thumbnail" alt="">
            </div>
            <div class="col-md-8">
                <h1>
                    ACESSAR
                    <br>
                    <strong>ÁREA RESTRITA</strong>
                </h1>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "Email", autofocus = true })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Senha" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Recupere sua senha", "ForgotPassword")
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}